/* Enter your custom styles here *//* Enter your custom styles here */
.marginClass{
    border-radius: 44px;
   

}
.paddingClass{
    padding: 2%;
    margin-right:2%
}
.backgroundclass{
    background-image: url(image/background.jpg);
    background-size: cover;
    border-radius: 5rem;
    margin: 1rem;
}